name: Release

on:
  workflow_dispatch:

permissions:
  contents: write
  id-token: write
  issues: write
  pull-requests: write

jobs:
  release:
    uses: finki-hub/.github/.github/workflows/semantic-release.yaml@main
    secrets: inherit
